.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid #dedede;
    border-top: none;
    background-color: #f9ffff;
    padding: 0.5em;
}
